<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <form [formGroup]="form">
        <!-- Item Column -->
        <ng-container matColumnDef="{{ column.id }}" *ngFor="let column of tableConfig">
            <th mat-header-cell *matHeaderCellDef> {{ column.title }} </th>
            <td mat-cell *matCellDef="let col"> {{ getColumnValue(col, column) }} </td>
            <td mat-footer-cell *matFooterCellDef>
                <div *ngIf="column.formConfig">
                    <mat-form-field appearence="standard">
                        <mat-label>{{ column.title }}</mat-label>
                        <input matInput formControlName="{{ column.formConfig.controlName }}"
                            [type]="column.formConfig.type">
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        <tr mat-footer-row *matFooterRowDef="getDisplayedColumns()"></tr>
    </form>
</table>